.box1 {
    background-color: #FF0000;
    width: 320px;
    height: 320px;
    margin: auto;
    position: absolute;

}

.box2 {
    content: "";
    background-color: #800080;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 85px;
    top: 85px;
  
}

.box3 {
    content: "";
    background-color: #FFFF00;
    position: absolute;
    width: 75px;
    height: 75px;
}

.box4 {
    background-color: #0000FF;
    position: absolute;
    margin-left: 0px;
    width: 320px;
    height: 320px;
    top: 340px;

}

.box5 {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 85px;
    height: 85px;

}

.box6 {
    content: "";
    background-color: #008000;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 85px;
    top: 85px;
}